{{>navbar/nav}}
<div class="panel panel-danger">
    <div class="panel panel-heading">
        <h1 class='panel-title'>Favorite Eye Bleaches</h1>
    </div>
    <div class="panel panel-body col-sm-12" id='bleach-container'>

        {{#each reddit}}
        <div class='eye-bleach-container'>
            <div class='row'>
                <div class='col-sm-12'>
                    <div class='eye-bleach-title col-sm-12'>
                        <strong>{{title}}</strong> <br/> {{upvotes}} upvotes
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-12'>
                    <div class='thumbnail pull-left'>
                        <a href='{{url}}'><img class='img-responsive' src='{{thumbnail}}' /></a>
                    </div>
                    <div class='favorite-div col-sm-6'>
                        <a class='btn btn-info btn-sm comments' href='{{comments}}'>Reddit comments</a>
                    </div>
                </div>
                <div class='favorite-div col-sm-6'>
                    <button class='btn btn-danger btn-sm favorite-notes' data-toggle="modal" data-target="#noteModal" data-url='{{url}}' data-thumbnail='{{thumbnail}}' data-title='{{title}}' data-upvotes='{{upvotes}}' data-comments='{{comments}}'>Note</button>
                    <button class='btn btn-danger btn-sm delete-notes'>Delete Note</button>
                </div>
            </div>

        </div>
        {{/each}}
    </div>
</div>


{{!-- Note Modal --}}
<div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Notes: </h4>
            </div>
            <div class="modal-body">
                {{!-- Notes go here --}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save-notes">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script src='../assets/js/favorites.js'></script>